
.cell_closed{
  box-sizing: border-box;
  background-color: #C0C0C0;
  border-top: 8px #FFFFFF solid;
  border-left: 8px #FFFFFF solid;
  border-right: 8px #808080 solid;
  border-bottom: 8px #808080 solid;
  cursor: pointer;
}

.cell_opened{
  box-sizing: border-box;
  background-color: #C0C0C0 !important;
  border: 2px #808080 solid;
}

.cell_flag{
  background: url('../images/flag.svg') no-repeat;
  background-color: #C0C0C0;
  background-size: 80% 80%;
  background-position: center;
}

.cell_one{
  background: url('../images/one.svg') no-repeat;
  background-color: #C0C0C0;
  background-size: 70% 70%;
  background-position: center;
}

.cell_two{
  background: url('../images/two.svg') no-repeat;
  background-color: #C0C0C0;
  background-size: 70% 70%;
  background-position: center;
}

.cell_three{
  background: url('../images/three.svg') no-repeat;
  background-color: #C0C0C0;
  background-size: 70% 70%;
  background-position: center;
}

.cell_four{
  background: url('../images/four.svg') no-repeat;
  background-color: #C0C0C0;
  background-size: 70% 70%;
  background-position: center;
}

.cell_five{
  background: url('../images/five.svg') no-repeat;
  background-color: #C0C0C0;
  background-size: 70% 70%;
  background-position: center;
}

.cell_six{
  background: url('../images/six.svg') no-repeat;
  background-color: #C0C0C0;
  background-size: 70% 70%;
  background-position: center;
}

.cell_seven{
  background: url('../images/seven.svg') no-repeat;
  background-color: #C0C0C0;
  background-size: 70% 70%;
  background-position: center;
}
.cell_eight{
  background: url('../images/eight.svg') no-repeat;
  background-color: #C0C0C0;
  background-size: 70% 70%;
  background-position: center;
}
.cell_bomb{
  background: url('../images/bomb.svg') no-repeat;
  background-color: #C0C0C0;
  background-size: 70% 70%;
  background-position: center;
}

.cell_bomb_first{
  background-color: #FA8072 !important;
}

.cell_bomb_disarmed{
  background-color: #90EE90 !important;
}

.cell_no_flag{
  background: url('../images/no_flag.svg') no-repeat;
  background-color: #C0C0C0;
  background-size: 70% 70%;
  background-position: center;
}

.cell_focused{
  background-color: #7B68EE  !important;
}
