.info_bar{
	height: 50px;
	margin-top: auto;
	margin-bottom: 10px;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-column: 2;
	grid-row: 1;

  font-family: Pixel;
  font-size: 24px;

}

.time{
	grid-column: 1;
	text-align: center;
  line-height: 34px;
  cursor: default !important;
}

.settings{
	grid-column: 2;
  display: grid;
  grid-template-columns: auto auto;
}

.flags_left{
	grid-column: 3;
	text-align: center;
  line-height: 34px;
  cursor: default !important;
}

.setting_btn{
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;

  background: url('../images/gears.svg') no-repeat;
  background-color: #C0C0C0;
  background-size: 70% 70%;
  background-position: center;
}

.reset_btn{
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.reset_btn_alive{
  background: url('../images/happy.svg') no-repeat;
  background-color: #C0C0C0;
  background-size: 70% 70%;
  background-position: center;
}

.reset_btn_lost{
  background: url('../images/dead.svg') no-repeat;
  background-color: #C0C0C0;
  background-size: 70% 70%;
  background-position: center;
}

.reset_btn_win{
  background: url('../images/glasses.svg') no-repeat;
  background-color: #C0C0C0;
  background-size: 70% 70%;
  background-position: center;
}
