.params{
  width: 300px;
  height: 210px;
  border: 1px black solid;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
  background-color: #C0C0C0;
  border: 5px #686868 solid;
	box-shadow: 12px 12px 0px 0px rgba(135, 147, 156, 1);

	display: none;
}

.params_header{
  margin-top: 10px;
  text-align: center;

  font-family: Pixel;
  font-size: 30px;
  color: #696969;
}
.params_line{
	margin-top: 15px;
	margin-left: 20px;
	font-family: Pixel;
	font-size: 24px;
	height: 24px;
	color: black;
}

.params_line input{
	width: 40px;
	display: block;
	float: right;
	margin-right: 50px;
	outline:none;
	font-family: Pixel;
	font-size: 16px;
	border: 2px #808080 solid;
	background: #DCDCDC;
}

.ok_btn{
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	height: 24px;
	width: 100px;
	text-align: center;
	font-family: Pixel;
	color: black;
	font-size: 24px;
	border: 2px #808080 solid;
	background: #DCDCDC;
	cursor: pointer;
}
