@font-face {
	font-family: 'Pixel';
	src: url(../fonts/Fifaks10Dev1.ttf);
}

body{
	user-select: none;
	margin: 0;
	background: #E0E0E0;
}

.whole_page{
	position: absolute;
	display: grid;
	grid-template-columns: auto 600px auto;
	grid-template-rows: auto 600px auto;
	width: 100%;
	height: 100%;
}

.wrapper {
	position: absolute;
	display: grid;
	grid-template-columns: repeat(12, 50px);
	grid-template-rows: repeat(12, 50px);
	grid-column: 2;
	grid-row: 2;

	border: 5px #686868 solid;

	box-shadow: 12px 12px 0px 0px rgba(135, 147, 156, 1);
}
