body{
  background: #E0FFFF;
  margin: 0;
}

.pic{
  background-position: 0px 0px;
  position: absolute;
  width: 50px;
  height: 50px;
}

.draggable{
  cursor: pointer;

}

.field{
  margin-left: 500px;
  float: left;
  width: 450px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(9, 50px);
  grid-template-rows: repeat(6, 50px);
  border: #696969 1px solid;
  box-sizing: border-box;
  margin-top: 30px;
}

.puzzleCell{
  border: #D3D3D3 1px solid;
  box-sizing: border-box;
}

.setups{
  top: 600px;
  position: absolute;
  margin-left: 500px;
  border: 1px black solid;
  padding: 20px;
  font-size: 16px;
  font-family: Arial;
}

#uploaded_image{
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

#winning{
  display: block;
  color: #DC143C;
  margin-left: 500px;
  position: absolute;
  top: 500px;
  font-size: 40px;
  font-family: Arial;
  display: none;
}
