@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
  background: transparent url('../images/Image 3.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  margin: 0;
}

.task_list_body::-webkit-scrollbar {
  width: 0;
}

.task_list_body{
  position: absolute;
  left: 390px;
  width: 570px;
  height: 100%;
  transition: 1s;
  overflow-y: auto;

  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #00000029;
  opacity: 1;
}

.task_card{
  position: absolute;
  top: 71px;
  left: 959px;
  width: 555px;
  height: 212px;
  z-index: -10;
  transition: 1s;

  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #00000029;
  border-radius: 0px 14px 14px 0px;
  opacity: 1;
}


.add_btn{
  width: 17px;
  height: 17px;
  background: transparent url('../images/Group 416.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  cursor: pointer;
}

.checkbox{
  width: 20px;
  height: 20px;
  background: transparent url('../images/checkbox-empty.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  float: left;
  cursor: pointer;
}

.checkbox_checked{
  background: transparent url('../images/checkbox.png') 0% 0% no-repeat padding-box;
}

.flash{
  width: 20px;
  height: 20px;
  float: left;
  background: transparent url('../images/hiprio.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.trash{
  width: 20px;
  height: 20px;

  background: transparent url('../images/trashbin.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  cursor: pointer;
}

.pencil{
  width: 20px;
  height: 20px;

  background: transparent url('../images/pencil.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  cursor: pointer;
}


@media (max-width: 1520px) {
  .task_list_body{
    left: 0px;
  }
  .task_card{
    left: 569px;
  }
}

@media (max-width: 1130px) {
  .task_card{
    width: 320px;
  }
  .task_card_input{
    width: 270px !important;
  }
}
