.task_list_top_bar{
  margin-top: 32px;
  height: 24px;
}

.task_list_title{
  position: absolute;;
  margin-left: 15px;
  float: left;

  text-align: left;
  font: normal normal bold 20px/24px Roboto;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.task_list_add_btn{
  float: right;
  margin-right: 12px;
  margin-top: 3.5px;
}

.task_list_add_btn_text{
  margin-right: 15px;
  float: right;
  margin-top: 3.5px;

  text-align: left;
  font: normal normal normal 14px/17px Roboto;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;

  user-select: none;
}

.task_list_tasks{
  margin-top: 15px;
}

.task_list_task{
  width: 100%;
  min-height: 40px;
  overflow: hidden;
}

.task_list_task:nth-child(2n+1){
  background: #0606060A 0% 0% no-repeat padding-box;
  opacity: 1;
}

.task_list_task:nth-child(2n){
  opacity: 1;
}

.task_list_task_checkbox{
  margin-top: 10px;
  margin-left: 15px;
}

.task_list_task_flash{
  float: left;
  margin-left: 15px;
  margin-top: 10px;
}

.task_list_task_discription{
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 15px;
  float: left;
  width: 380px;

  text-align: left;
  font: normal normal normal 14px/17px Roboto;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;

  word-break: break-all;
}

.task_list_task_discription_completed{
  text-decoration: line-through;
  opacity: 0.5;
}

.task_list_task_icon_completed{
  opacity: 0.5;
}

.task_list_task_trash{
  float: right;
  margin-right: 15px;
  margin-top: 10px;
}

.task_list_task_pencil{
  float: right;
  margin-right: 15px;
  margin-top: 10px;
}

.task_list_task_no_priority{
  display: none;
}
