.task_cards_hide{
  display: none;
}

.task_card_title{
  margin-top: 28px;
  margin-left: 30px;

  text-align: left;
  font: normal normal normal 18px/22px Roboto;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1
}

.task_card_task{
  margin-top: 7px;
  margin-left: 30px;

  text-align: left;
  font: normal normal normal 14px/17px Roboto;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.task_card_input{
  margin-top: 5px;
  margin-left: 30px;
  width: 505px;
  height: 24px;

  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #AAAAAABF;
  border-radius: 2px;
  opacity: 1;
  outline: none;
  transition: 1s;

  text-align: left;
  font: normal normal normal 14px/17px Roboto;
  letter-spacing: 0px;
  color: #202020;
  padding-left: 5px;
}

.task_card_hight_priority_lane{
  height: 20px;
  margin-top: 15.5px;
  margin-left: 30px;
}

.task_card_hight_priority_text{
  margin-left: 8.39px;
  margin-top: 2.5px;
  float: left;

  text-align: left;
  font: normal normal normal 14px/17px Roboto;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.task_card_flash{
  margin-left: 7px;
}

.task_card_hight_priority_lane{
  height: 32px;
  margin-left: 30px;
  margin-top: 16.39px;
}

.task_card_save_btn{
  float: left;
  margin-left: 30px;
  width: 126px;
  height: 32px;

  background: #3F88E8 0% 0% no-repeat padding-box;
  border-radius: 32px;
  opacity: 1;
  user-select: none;
  cursor: pointer;

  text-align: center;
  font: normal normal normal 14px/17px Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
  vertical-align: middle;
}

.task_card_cancel_btn{
  float: left;
  margin-left: 15px;
  width: 120px;
  height: 32px;

  border: 1px solid #707070;
  border-radius: 32px;
  opacity: 1;
  user-select: none;
  cursor: pointer;

  text-align: center;
  font: normal normal normal 14px/17px Roboto;
  letter-spacing: 0px;
  color: #707070;
  vertical-align: middle;
}

.task_card_btn_text{
  margin-top: 7.5px;
}
