@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');



html{
  height: 100%;
}

body{
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: transparent url('../images/Image 2.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  margin: 0px;

  min-width: 1330px;
}

.settings-box{
  margin-left: 200px;
  height: 100%;
  width: 555px;
  float: left;

  padding-left: 15px;

  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #00000029;
  opacity: 1;
  position: relative;

  transition: 2s;
}

.visit-card{
  margin-left: 100px;
  margin-top: 100px;
  height: 268px;
  width: 445px;
  float: left;
  position: relative;

  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 6px 12px #00000029;
  border: 1px solid #707070A8;
  border-radius: 6px;
  opacity: 1;
}

.title{
  position: relative;
  margin-top: 32px;

  text-align: left;
  font: normal normal bold 20px/24px Roboto;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;

  text-align: left;
}

#organisation-title{
  position: relative;
  margin-top: 31px;
}

#organisation-input{
  position: relative;
  margin-top: 5px;
}

#name-title{
  position: relative;
  margin-top: 15px;
}

#name-input{
  position: relative;
  width: 255px;
  height: 24px;
  float: left;
}

.input{
  width: 255px;
  height: 24px;
  position: relative;

  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #AAAAAABF;
  border-radius: 2px;
  opacity: 1;

  text-align: left;
  font: normal normal normal 14px/17px Roboto;
  letter-spacing: 0px;
  color: #202020;
  opacity: 1;
}

.notes{
  text-align: left;
  font: normal normal normal 14px/17px Roboto;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
  position: relative;
  width: 200px;
}

.line{
  width: 100%;
  height: 26px;
  position: relative;
}

#fio_line{
  margin-top: 5px;
}

.align{
  position: relative;
  float: left;

  /*width: 106px;*/
  height: 26px;

  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #AAAAAABF;
  border-radius: 2px;
  opacity: 1;
}

#fio-align{
  margin-left: 30px;
}

#pos-align{
  margin-left: 30px;
}

.button{
  width: 35px;
  height: 100%;
  float: left;
  user-select: none;
  cursor: pointer;
}

.button:nth-child(1){
  border-right: 1px #AAAAAABF solid;
}

.button:nth-child(3){
  border-left: 1px #AAAAAABF solid;
}

.button img{
  width: 18.69px;
  height:: 14.77px;
  padding-top: 5.615px;
  padding-left: 8.32px;
}

.pressed{
  background: #D9D9D9 0% 0% no-repeat padding-box;
}


#fio-font{
  margin-left: 12px;
  text-align: center;
  font: normal normal normal 12px/14px Roboto;
  letter-spacing: 0px;
  color: #202020;
  opacity: 1;
  vertical-align: middle;

  line-height: 26px;
}

#pos-font{
  margin-left: 12px;
  text-align: center;
  font: normal normal normal 12px/14px Roboto;
  letter-spacing: 0px;
  color: #202020;
  opacity: 1;
  vertical-align: middle;

  line-height: 26px;
}

.color-line{
  height: 24px;
  width: 184px;
  position: relative;
}


.color-ball{
  width: 24px;
  height: 24px;
  border-radius: 12px;
  margin-right: 5px;
  float: left;
  cursor: pointer;
}

#fio-color .color-ball:nth-child(1){
  background-color: #202020;
}
#fio-color .color-ball:nth-child(2){
  background-color: #3F88E8;
}
#fio-color .color-ball:nth-child(3){
  background-color: #E83F56;
}
#fio-color .color-ball:nth-child(4){
  background-color: #097A14;
}
#fio-color .color-ball:nth-child(5){
  background-color: #DCA40A;
}
#fio-color .color-ball:nth-child(6){
  background-color: #DC0AD5;
}

#position-title{
  margin-top: 18px;
  position: relative;
}

#position-input{
  float: left;
}

#position_line{
  margin-top: 5px;
}

#fio-color{
  margin-top: 10px;
}

#position-color {
  margin-top: 10px;
}

#position-color .color-ball:nth-child(1){
  background-color: #202020;
}
#position-color .color-ball:nth-child(2){
  background-color: #474747;
}
#position-color .color-ball:nth-child(3){
  background-color: #636363;
}
#position-color .color-ball:nth-child(4){
  background-color: #9E9E9E;
}
#position-color .color-ball:nth-child(5){
  background-color: #BBBBBB;
}
#position-color .color-ball:nth-child(6){
  background-color: #E3E3E3;
}

#phone-title{
  margin-top: 21px;
}

#phone-input{
  margin-top: 5px;
}

#second-phone-input{
  margin-top: 5px;
  display: none;
}

#phone_line{
  margin-top: 14px;
  height: 17px;
  width: 100%;
}


#phone_line img{
  width: 17px;
  height: 17px;
  float: left;
  margin-right: 6px;
  user-select: none;
  cursor: pointer;
}

#minus{
  display: none;
}

.note{
  text-align: left;
  font: normal normal normal 12px/14px Roboto;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

#noteMinus{
  display: none;
}

#phone_line .note{
  float: left;
  margin-top: 1.5px;
}

#email-title{
  margin-top: 15px;
}

#email_line{
  margin-top: 5px;
  height: 24px;
  width: 100%;
}

#email-input{
  float: left;
}

.checkbox{
  background: #707070 0% 0% no-repeat padding-box;
  opacity: 1;
  height: 17px;
  width: 17px;
}

.line .checkbox{
  float: left;
  margin-left: 30px;
}

.line .note{
  float: left;
  margin-left: 6px;
  margin-top: 3px;
}

#location-title{
  margin-top: 15px;
}

#location_line{
  margin-top: 5px;
  height: 24px;
  width: 100%;
}

#location-input{
  float: left;
}

.btn{
  margin-top: 15px;
  user-select: none;
  cursor: pointer;

  width: 126px;
  height: 32px;
  background: #3F88E8 0% 0% no-repeat padding-box;
  border-radius: 32px;
  opacity: 1;
}

.btn_text{
  top: 8px;
  left: 26px;

  position: relative;
  width: 74px;
  height: 17px;
  text-align: left;
  font: normal normal normal 14px/17px Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

@media (max-width: 1330px) {
  .settings-box{
    margin-left: 20px;
  }
  body{
    transition: 2s;
    min-width: 1160px;
  }
}

.visit-card .org_name{
  width: 100%;
  margin-top: 22px;
  text-align: center;
  font: normal normal normal 10px/13px Roboto;
  letter-spacing: 0px;
  color: #202020;
  opacity: 1;
}

.visit-card .fio{
  margin-top: 32px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  font: normal normal bold 26px/32px Roboto;
  letter-spacing: 0px;
  color: #202020;
  opacity: 1;
}

.visit-card .position{
  margin-top: 8px;
  margin-bottom: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  font: normal normal normal 14px/17px Roboto;
  letter-spacing: 0px;
  color: #474747;
  opacity: 1;
}

.visit-card .phone{
  margin-left: 50%;
  margin-top: 10px;

  text-align: left;
  font: normal normal normal 12px/14px Roboto;
  letter-spacing: 0px;
  color: #202020;
  opacity: 1;
}

.visit-card .email{
  margin-left: 50%;
  margin-top: 10px;

  text-align: left;
  font: normal normal normal 12px/14px Roboto;
  letter-spacing: 0px;
  color: #202020;
  opacity: 1;
}

.visit-card .address{
  margin-left: 50%;
  margin-top: 10px;

  text-align: left;
  font: normal normal normal 12px/14px Roboto;
  letter-spacing: 0px;
  color: #202020;
  opacity: 1;
}

.white_ball{
  height: 12px;
  width: 12px;
  background-color: #FFFFFF;
  border-radius: 6px;
  margin: 6px;
}
